/* Wrapper */
.navbar-wrapper {
  width: 100% !important;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  padding: 0px 0px 0px 0;
  background: #020617;
}

/* Main Container */
.navbar-container {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px 80px;

  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Logo */
.logo {
  font-size: 2rem;
  font-weight: 900;
  color: white;
  letter-spacing: 1px;
}

/* Nav Links Container */
.nav-links {
  display: flex;
  gap: 40px;

  background: rgba(255, 255, 255, 0.05);
  padding: 10px;
  border-radius: 50px;
}

/* Each Nav Item */
.nav-item {
  padding: 8px 16px;
  border-radius: 50px;
  color: #cbd5e1;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover */
.nav-item:hover {
  color: white;
}

/* Active Tab */
/* .nav-item.active {
  background: linear-gradient(135deg, #6d5dfc, #8f7cff);
  color: white;
  box-shadow: 0 0 10px rgba(109, 93, 252, 0.6);
} */

/* Login Button */
.login-btn {
  padding: 8px 18px;
  border-radius: 50px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}
